/* reset default margin and padding */
* { 
    margin:0;
    border:0;
    font-size:100%;
    outline: 0;
    padding:0;
}

.container{
    display:grid;
    height:100vh;
    width:auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
}

.grid{
    background-color: black;
    height:25vh;
    width:auto;
}

.grid:hover{
    background-color: pink;
}
