:root{
    --active: black;
    --fraction:20vh;
}


/* reset default margin and padding */
* { 
    margin:0;
    border:0;
    font-size:100%;
    outline: 0;
    padding:0;
}

.main{
    display:flex;
    width:100vw;
    flex-direction: column;
    justify-content: center;
}

.title{
    text-align: center;
    margin: auto 2rem;
    font-size: 300%;
}

ul{
    text-align: center;
}

li{
    display:inline-block;
    margin: .5rem .5rem;
    
}

.button{
    background-color: red;
    border: solid 1px black;
    user-select: none;
    padding:1rem 2rem;
}

#resetbutton{
    
}

#colorbutton {

}

#erasebutton{

}

.container{
    display:grid;
    width:800px;
    margin:auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    border: solid 1px black;
}

.grid{
    background-color:white;
    height:var(--fraction);
    width:auto;
}


.drawn{
    animation-name: color;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes color {
    100% {
        background-color:var(--active);
    }
}